.glo-white{
    background-color: white;
}
.glo-black{
    background-color: black;
}

body{
    /* background-color: rgb(235, 154, 57); */
}

.content{
    width: 80%;
    margin: 0 auto;
    padding:20px;
    height: calc(100vh - 156px);
    box-sizing: border-box;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.glo-button{
    float: right;
    margin-bottom: 30px;
}

.glo-button-margin{
    margin-right: 10px;
}
.dark{
    background-color: black;
}